<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Jasmine Spec Runner</title>

    <% with (scripts) { %>
        <% [].concat(jasmine, boot, vendor, helpers).forEach(function(script){ %>
            <script src="<%= script %>" type="text/javascript"></script>
        <% }) %>
    <% }; %>

    <% css.forEach(function(style){ %>
        <link rel="stylesheet" type="text/css" href="<%= style %>">
    <% }) %>

    <script type="text/javascript">
        // Delay onLoad function until we are ready and loaded
        var startTests = window.onload;
        window.onload = null;

        var launchTest = function() {
            require([
                <% scripts.src.forEach(function(script, i) { %>
                    <% script = script.replace(/\\/g, '/') // replace all backward slashes to forward slash %>
                    '<%= script %>' <%= i < scripts.src.length - 1 ? ',' : '' %>
                <% }); %>
            ],
            function() {
                require(['<%= [].concat(scripts.specs, scripts.reporters).join("','") %>'], function() {
                    startTests();
                });
            })
        };
        
        launchTest();
    </script>
</head>
<body></body>
</html>